* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  background-color: rgb(207, 47, 114);
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 10px 18px;
  border-radius: 5px;
}
a.active,
a:hover {
  color: rgb(207, 47, 114);
  background-color: white;
  transition: 0.1s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

@media (max-width: 1110px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
  @media (max-width: 1110px) {
    .checkbtn {
      display: block;
    }
    nav ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: rgb(85, 18, 46);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all 0.5s;
    }
    nav ul li {
      display: block;
    }
    #check:checked ~ ul {
      left: 0px;
    }
  }
}

.sale {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/Carousel1final.png);
  background-attachment: fixed;
  background-size: cover;
}
.sale span {
  color: #5a0f3d;
  font-weight: bold;
  font-size: 50px;
  padding: 8px 24px;
  border-radius: 10px;
  background: #eee;
}

.para {
  width: 60%;
  text-align: center;
  color: white;
  font-size: 25px;
  /* justify-content: center; */
  margin: 30px auto 0px auto;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  border: 3px dashed white;
  background-color: #9b416e;
  padding: 25px;
}
hr {
  margin: 20px auto 10px auto;

  width: 50%;
  color: #852d59;
}
/* Specials section */
.section-title {
  text-align: center;
}
#projects .projects {
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  padding: 30px 0;
}
#projects .projects-header h1 {
  margin-bottom: 30px;
}
#projects .all-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#projects .project-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}
#projects .project-info {
  padding: 20px;
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(60deg, #9b416e 0%, #5a0f3d 100%);
  color: white;
}
#projects .project-info h1 {
  font-size: 4rem;
  font-weight: 300;
}

#projects .project-img {
  flex-basis: 50%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
#projects .project-img:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 25%;
  width: 25%;
}
#projects .project-img img {
  transition: 0.5s ease transform;
}
#projects .project-item:hover .project-img img {
  transform: scale(1.3);
}
/* End Projects section */
@media only screen and (min-width: 1100px) {
  /* Project */

  #projects .project-item {
    flex-direction: row;
  }
  #projects .project-item:nth-child(even) {
    flex-direction: row-reverse;
  }
  #projects .project-item {
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  #projects .all-projects .project-info {
    height: 100%;
  }
  #projects .all-projects .project-img {
    height: 100%;
  }
  /* End Project */
}
/* specials end */

/* footer */
footer {
  bottom: 0px;
  left: 0;
  right: 0;
  background: rgb(78, 6, 42);
  /* height: auto; */
  width: 100%;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: rgb(255, 0, 128);
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
#linkedin {
  color: white;
}
#linkedin:hover {
  color: black;
}
